# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

*.iml
*.ipr
*.iws
*.suo
*.user
*.userosscache
*.sln.docstates
*.DotSettings.user


# Environment / secrets
.env
.env.*
!.env.example

**/.env
**/.env.*
!**/.env.example

**/appsettings.Development.json
**/appsettings.Local.json
**/appsettings.*.local.json
**/appsettings.json

**/docker-compose.yml
**/docker-compose.demo.yml


# Frontend / JS
node_modules/
build/
dist/
coverage/

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# .NET / C#
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
artifacts/
CodeCoverage/
[Tt]est[Rr]esult*/
TestResults/

project.lock.json
project.fragment.lock.json
ScaffoldingReadMe.txt
*.nupkg
*.snupkg
*.binlog
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
nunit-*.xml


# Misc
~$*
*~
*.log
logs/


# Local IDE database configs
**/dataSources.xml
**/workspace.xml