.card {
    display: flex;
    align-items: center;
    background-color: #1a1a1a;
    border-radius: 20px;
    padding: 16px;
    margin-bottom: 16px;
    border: 1px solid #707070;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.01);
}


.avatar img {
    width: 96px;
    height: 96px;
    border-radius: 100%;
    border: 2px solid #26cdd4;
}

.info {
    flex: 1;
    margin-left: 16px;
}

.info h3 {
    margin: 0;
    font-size: 28px;
}

.info span {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
}

.settingsButton {
    background: none;
    border: 1px solid #26cdd4;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.settingsButton span {
    font-size: 16px;
    color: #26cdd4;
}

.inviteActions {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: auto;
}

.acceptButton, .rejectButton {
    background: none;
    border: 1px solid #26cdd4;
    border-radius: 8px;
    padding: 6px;
    cursor: pointer;
}

.acceptButton:hover {
    background-color: rgba(38, 205, 212, 0.1);
}

.rejectButton:hover {
    background-color: rgba(255, 0, 0, 0.1);
}

.icon {
    width: 20px;
    height: 20px;
    color: #26cdd4;
}
