.expandable {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.75s ease, opacity 0.75s ease;
    opacity: 0;
    margin: 8px 0;
}

.expanded {
    max-height: 90px;
    opacity: 1;
}
