.wrapper {
    padding: 48px 128px;
}

.teamInfo {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 48px;
}

.title {
    font-size: 32px;
    margin-bottom: 16px;
    color: white;
}

.avatar  {
    width: 96px;
    height: 96px;
    border-radius: 100%;
    border: 2px solid #26cdd4;
}

.userAvatar {
    width: 72px;
    height: 72px;
    border-radius: 100%;
    border: 2px solid rgba(255, 255, 255, 0.6);
    /*margin-bottom: 8px;*/
}

.subtitle {
    font-size: 24px;
    margin: 16px 0;
    color: white;
}

.memberList {
    list-style: none;
    padding: 0;
    margin-bottom: 32px;
}

.member {
    display: flex;
    align-items: center;
    gap: 16px;
    color: white;
    margin-bottom: 16px;
}

.username {
    font-size: 16px;
    line-height: 1.2;
}


.inviteButton {
    background-color: transparent;
    border: 1px solid #26cdd4;
    color: #26cdd4;
    padding: 10px 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.inviteButton:hover {
    background-color: #26cdd41f;
}

.inviteForm {
    display: flex;
    gap: 16px;
}

.inviteInput {
    /*flex: 1;*/
    padding: 6px 12px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background-color: #1a1a1a;
    color: white;
    font-size: 24px;
}